---
layout: default
title: lodsb.org - music, dev, research
---

    <template is="dom-bind">
      <style>
        .music-infobox {
          display: inline-block;
          margin: 8px;
          font-size: 36px;
          vertical-align: top;
          text-align: center;
        }
        .dev-infobox {
          display: inline-block;
          margin: 8px;
          font-size: 36px;
          vertical-align: top;
          text-align: center;
          background:#FA2356;
        }
        .pub-infobox {
          display: inline-block;
          margin: 8px;
          font-size: 36px;
          vertical-align: top;
          text-align: center;
          background: #FFF;
        }

        .blog-infobox {
          display: inline-block;
          margin: 15px;
          padding: 5px;
          width:250px;
          font-size: 16px;
          vertical-align: top;
          text-align: center;
          background: #FF5CAF;
        }
      </style>

      <neon-animated-pages id="pages" selected="0">

        <main-page on-circle-click="_onMainClick"></main-page>

        <music-page on-click="_onMusicClick">

          <p class ="music-infobox" style="padding-top: 5px;">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/118285592&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false">
            </iframe>
          </p>

          {% for post in site.posts %}
            {% if post.categories contains 'music' %}
                <p class ="music-infobox">
                  <a href="{{ post.url }}" style="background: #FF0000;">
                      {% if post.categories contains 'compilation' %}
                        *
                      {% endif %}
                      {{ post.title }}
                  </a>
                  <br>
                  {% assign image = post.images[0] %}
                  {% include cover_image.html image=image %}
                  <br>
                  <span style="color: #000; background: #FFF;">{{ post.date | date: "%Y" }}</span>
                </p>
            {% endif %}
          {% endfor %}

        </music-page>

        <dev-page on-click="_onDevClick">

          {% for post in site.posts %}
            {% if post.categories contains 'dev' %}
              <p class ="dev-infobox">
                {% if post.categories contains 'hack' %}
                  #
                {% endif %}
                {% if post.categories contains 'link' %}
                  *
                {% else %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <br>
                {% endif %}
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
              </p>
            {% endif %}
          {% endfor %}

        </dev-page>

        <pub-page on-click="_onPubClick">
          {% for post in site.posts %}
            {% if post.categories contains 'pub' %}
                <p class ="pub-infobox">
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  <br>
                  {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </p>
            {% endif %}
          {% endfor %}
        </pub-page>

        <blog-page on-click="_onBlogClick">
          {% for post in site.posts %}
            {% if post.categories contains 'blog' %}
                <p class ="blog-infobox">
                  <span style="color: #FFF;">{{ post.date | date: "%Y.%m.%d" }}</span>
                  <br>
                  <span style="font-size: 20px;">{{ post.title | truncatewords:3 }}</span>
                  <br>
                  <a href="{{ post.url | prepend: site.baseurl }}">
                     <paper-button style="vertical-align:bottom;">Read More</paper-button>
                  </a>
                </p>
            {% endif %}
          {% endfor %}
        </blog-page>

      </neon-animated-pages>

    </template>

    <script>

      var scope = document.querySelector('template[is="dom-bind"]');

      scope._onMainClick = function(event) {
        var pageId = document.querySelector('main-page').clickedCircleID + 1;
        this.$.pages.selected = pageId;
      };

      scope._onMusicClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onDevClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onPubClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onBlogClick = function(event) {
        this.$.pages.selected = 0;
      };

    </script>

<!--<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>-->
