---
layout: default
title: lodsb.org - music, dev, research
---


{% include dev-page.html %}
{% include pub-page.html %}
{% include blog-page.html %}

    <template is="dom-bind">
      <style>
        .music-infobox {
          display: inline-block;
          margin: 8px;
          font-size: 36px;
          vertical-align: top;
          text-align: center;
        }
      </style>

      <neon-animated-pages id="pages" selected="0">

        <main-page on-circle-click="_onMainClick"></main-page>

        <music-page on-click="_onMusicClick">

          <p class ="music-infobox" style="padding-top: 5px;">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/118285592&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false">
            </iframe>
          </p>

          {% for post in site.posts %}
            {% if post.categories contains 'music' %}
                <p class ="music-infobox">
                  <a href="{{ post.url }}" style="background: #FF0000;">{{ post.title }}</a>
                  <br>
                  {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </p>
            {% endif %}
          {% endfor %}

        </music-page>

        <dev-page on-click="_onDevClick"></dev-page>
        <pub-page on-click="_onPubClick"></pub-page>
        <blog-page on-click="_onBlogClick"></blog-page>

      </neon-animated-pages>

    </template>

    <script>

      var scope = document.querySelector('template[is="dom-bind"]');

      scope._onMainClick = function(event) {
        var pageId = document.querySelector('main-page').clickedCircleID + 1;
        this.$.pages.selected = pageId;
      };

      scope._onMusicClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onDevClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onPubClick = function(event) {
        this.$.pages.selected = 0;
      };

      scope._onBlogClick = function(event) {
        this.$.pages.selected = 0;
      };

    </script>

<!--<script src="{{ "/js/common.js" | prepend: site.baseurl }}"></script>-->
