<link rel="import"
  href="{{ "/bower_components/paper-toolbar/paper-toolbar.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-menu/paper-menu.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-item/paper-item.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-drawer-panel/paper-drawer-panel.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/iron-icons/iron-icons.html" | prepend: site.baseurl }}">
<link rel="import"
    href="{{ "/bower_components/iron-behaviors/iron-button-state.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-icon-button/paper-icon-button.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-ripple/paper-ripple.html" | prepend: site.baseurl }}">
<link rel="import"
  href="{{ "/bower_components/paper-button/paper-button.html" | prepend: site.baseurl }}">

<link rel="import" href="{{" /bower_components/paper-styles/paper-styles.html" | prepend: site.baseurl }}">
<link rel="import" href="{{" /bower_components/paper-styles/demo-pages.html" | prepend: site.baseurl }}">
<link rel="import" href="{{" /bower_components/neon-animation/neon-animated-pages.html" | prepend: site.baseurl }}">
<link rel="import" href="{{" /bower_components/neon-animation/neon-animations.html" | prepend: site.baseurl }}">
<link rel="import" href="{{" /bower_components/neon-animation/neon-animation-runner-behavior.html" | prepend: site.baseurl }}">

<link rel="import" href="{{" main-page.html" | prepend: site.baseurl }}">
<link rel="import" href="{{" music-page.html" | prepend: site.baseurl }}">
<link rel="stylesheet" href="css/font-awesome.min.css">
