---
layout: default
---

<div style="font-size: 40px;">
  <div style="width: 100%; background: #FFF;"><a href="/" title="Home"><<< BACK</a></div><br>
    <span style="background: #FE4512;">{{ page.title }} >>
      {% for category in page.categories %}
      <a href="{{ site.baseurl }}/tags/#{{ category }}"> {{ category }} </a><br>
      {% endfor %}
    </span>

</div>

<div style="width: 100%;">
  <div style="width: 50%; padding: 20px;  background: #FFF;   margin-left: auto ;
  margin-right: auto;">
  {{content}}
  {% include social-sharing.html %}
  </div>
</div>
