---
layout: default
---

<div style="font-size: 40px;">
    {% include header.html %}

    <span style="background: #4512FE;">
      posted @ {{ page.date | date: "%Y.%m.%d" }}
    </span>
</div>

<div style="width: 100%; padding-top: 20px;">
  <div style="float: left; width: 78%; background: #FFF; padding: 20px;">
    {{ content }}
    {% include social-sharing.html %}
  </div>

  <div style="float: right; width: 18%; background: #FFF;">

    {% for post in site.posts  %}

       {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
       {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

       {% if forloop.first %}
            <paper-shadow class="post-card" z="1">
                <card>
       <h2 class="card-content" id="{{ this_year }}-ref">{{this_year}}</h2><br>
       <!-- <ul> -->
       {% endif %}

       <li>
         <h4 class="card-content"><a href="{{ post.url }}">{{ post.title }} </a>
           {% for category in post.categories %}
           <a href="{{ site.baseurl }}/categories/#{{ category }}">: {{ category }} </a>
           {% endfor %}
         </h4>
       </li>
        {% if forloop.last %}
                  </card>
             </paper-shadow>
        {% else %}
         {% if this_year != next_year %}
                   </card>
               </paper-shadow>
          <paper-shadow class="post-card" z="1">
              <card>
         <h2 class="card-content" id="{{ next_year }}-ref">{{next_year}}</h2>
         {% endif %}
      {% endif %}

    {% endfor %}
  </div>
</div>
